<div class="row">
    <div class="col-md-12">
        <button class="btn btn-outline-success px-3 py-2 float-right" (click)="edit()">Редакировать</button>
    </div>
    <div class="col-lg-12 my-2 pb-10">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="width: 100%;" >
                    <img class="view overlay" [src]="createImgPath(userDetails.imgPath)" class="card-img-top" alt=""
                        style=" background-size: cover; height: 20rem;">
                    <div class="card-body text-center" style="height: 5rem;" *ngIf="editMode">
                        <app-file-upload ButtonName="Загрузить фото"  (onUploadFinished)="uploadFinished($event)"></app-file-upload>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" [readonly]="!editMode" [(ngModel)]="userDetails.userName">
                </div>
                <div class="form-group">
                    <label>SurName</label>
                    <input class="form-control" [readonly]="!editMode" [(ngModel)]="userDetails.fullName">
                </div>
                <div class="form-group">
                    <label>Patronomic</label>
                    <input class="form-control" [readonly]="!editMode">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" [readonly]="!editMode" [(ngModel)]="userDetails.email">
                </div>
                <div class="form-group" *ngIf="editMode">
                    <label>Birthday</label>
                    <input type="date" [readonly]="!editMode" class="form-control">
                </div>
            </div>
        </div>
        
        <!-- <div>
            <label>Image</label>
        </div>
        <div class="">
            <img [src]="createImgPath(userDetails.imgPath)" alt="profile picture" style="width:60px; height:60px;">
        </div>
        <div class="form-group">
            <label>UploadImage</label>
            <app-file-upload (onUploadFinished)="uploadFinished($event)"></app-file-upload>
        </div>
        <h2>File List</h2>
        <p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
        <hr>
        <div class="container">
            <ul>
                <li *ngFor="let file of files">
                    <a>
                        {{file}}
                        <app-download [disabled]="showProgress" [fileName]="file"
                            (downloadStatus)="downloadStatus($event)"></app-download>
                    </a>
                </li>
            </ul>
        </div> -->
        <!-- <div class="form-group">
            <label>Name</label>
            <input class="form-control" [readonly]="!editMode" [(ngModel)]="userDetails.userName">
        </div>
        <div class="form-group">
            <label>SurName</label>
            <input class="form-control" [readonly]="!editMode" [(ngModel)]="userDetails.fullName">
        </div>
        <div class="form-group">
            <label>Patronomic</label>
            <input class="form-control" [readonly]="!editMode">
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" [readonly]="!editMode" [(ngModel)]="userDetails.email">
                </div> -->
                <div class="form-group" *ngIf="!editMode">
                    <label>Birthday</label>
                    <input type="date" [readonly]="!editMode" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-primary px-3 py-2" (click)="save(userDetails)"
                *ngIf="editMode">Сохранить</button>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 15rem;" >
            <img class="view overlay" [src]="createImgPath(userDetails.imgPath)" class="card-img-top" alt="Card image cap"
                style=" background-size: cover; height: 15rem;">
            <div class="card-body text-center" style="height: 5rem;">
                <app-file-upload ButtonName="Загрузить фото"  (onUploadFinished)="uploadFinished($event)"></app-file-upload>
            </div>
        </div>
    </div>
</div> -->

