<div class="row">
    <div class="col-md-12 pb-3 pt-3">
        <span style="font-size:1rem;"><b>Раздел для комметариев:</b></span>
    </div>
    <div class="col-md-12">
        <div class ="col-md-12 block mb-3 rounded">
            <div class="col-md-12" *ngFor="let item of commentList; let i = index">
                <div class="form-group border-bottom">
                    <span style="color:mediumblue;" for="OwnerAndCreationTime">{{commentList[i].ownerName}} 
                        {{commentList[i].creationTime | date: 'dd.MM.yyyy, HH:mm:ss'}}</span><br>
                    <p align="justify">{{commentList[i].commentContent}}</p>
                </div>
            </div>
            <div class="col-md-12 text-center pb-3 pt-3" *ngIf="commentList.length == 0">
                <span style="font-size:1rem;">Комментарии отсутствуют</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="rounded" [(ngModel)]="comment.commentContent" style="width: 100%;max-height: 10rem; min-height: 3rem;  outline: none;"></textarea>
            </div>
            <div class="col-md-12 mb-3">
                <button type="button" class="btn btn-outline-primary float-right mt-3" (click)="create()"> <i
                        class="fa fa-plus"></i>Добавить комментарий</button>
            </div>
        </div>
    </div>
</div>
