<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Просмотр тестов</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group border-bottom border-dark">
                    <label for="Test_Name" style="font-size: 1.1rem;">Название теста:</label>
                    <input type="text" id="Test_Name" class="form-control mb-2" [(ngModel)]="test.name" name="Name" readonly required />
                </div>

                <div class=" border-bottom border-dark" *ngFor="let item of test.testQuestions; let i = index">
                    <div class="form-group">
                        <label for="Test_Name">Название {{i+1}} вопроса:</label>
                        <div class="input-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="test.testQuestions[i].name"
                                placeholder="Название вопроса" readonly required>
                        </div>
                    </div>

                    <div class="" *ngFor="let item of test.testQuestions[i].testQuestionAnswer; let j = index">
                        <div class="form-group">
                            <label for="Test_Name">Название {{j+1}} ответа на вопрос:</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <input type="checkbox" disabled style="height: 2.7em; width: 2.7em;" [ngModelOptions]="{standalone: true}" [(ngModel)]="test.testQuestions[i].testQuestionAnswer[j].isCorrect"/>
                                    
                                </div>
                                <input class="form-control" [ngModelOptions]="{standalone: true}" readonly
                                    [(ngModel)]="test.testQuestions[i].testQuestionAnswer[j].name" placeholder="Название вопроса" required>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-md btn-outline-primary blue" (click)="close()">Close</button>
            </div>
        </div>
    </div>

</div>
