<div class="row align-items-center">
    <div class="col-xl-12">
        <div class="form-group m-form__group align-items-center">
            <div class="input-group">
                <input style="box-shadow: none;" (keyup)="filterInput($event)" [(ngModel)]="filterText" name="filterText" class="form-control" placeholder="Поиск по всем параметрам" type="text">
                <span class="input-group-btn">
                    <button (click)="getAll()" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<p-table #dt [value]="lectureList"  dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
    [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Показаны записи с {first} по {last} из {totalRecords}"
    [filterDelay]="0" [globalFilterFields]="['name','name','.name','name']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="col-md-12">
                <span class="mr-3">ВЕСЬ СПИСОК ЛЕКЦИЙ</span>
                <span>
                    <button class="btn btn-md btn-outline-primary" (click)="getAll()"><i class="fa fa-refresh"></i> Обновить</button>
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th >
                <div class="p-d-flex p-jc-between p-ai-center">
                    Действия
                </div>
            </th>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Название Лекции
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="subjectName">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Название Предмета
                    <p-sortIcon field="subjectName"></p-sortIcon>
                    <p-columnFilter type="text" field="subjectName" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Прикрепленные файлы
                </div>
            </th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr class="p-selectable-row">
            <td style="width: 130px">
                <span class="p-column-title">Действия</span>
                <div class="btn-group dropdown">
                    <button class="dropdown-toggle btn btn-sm btn-outline-primary" id="dropdownMenuButton"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Действия
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="javascript:;" class="dropdown-item" style="font-size: small;"
                            (click)="viewLecture(record.id)">Освоить материал</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <span class="p-column-title">Название лекции</span>
                {{record.name}}
            </td>
            <td>
                <span class="p-column-title">Название предмета</span>
                {{record.subjectName}}
            </td>
            <td>
                <span class="p-column-title">Прикрепленные файлы</span>
                <button class="btn btn-sm btn-outline-primary" (click)="viewLectureeModal.show(record)"><i class="fa fa-eye"></i>Просмотр файлов</button>
            </td>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5" class="text-center">Записей не найдено.</td>
        </tr>
    </ng-template>
</p-table>
<app-view-lecture-modal #viewLectureeModal></app-view-lecture-modal>
