<div class="row">
    <div class="col-md-12">
        <p class="text-center" style="font-size: 1.2rem;">{{practice.name}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label style="font-size: 1rem;">Название предмета: {{practice.subjectName}}</label>
    </div>
</div> 
<div class="row" *ngIf="editMode == true">
    <div class="col-md-12">
        <app-file-upload  class="float-right mr-2" ButtonName="Загрузить работу" (onUploadFinished)="uploadFinished($event)" (fileName)="getFileName($event)"></app-file-upload>
    </div>
</div>
<div class="row" *ngIf="editMode == false">
    <div class="col-md-4">
        <div class="form-group">
            <label for="practiceScore" style="font-size: 1rem;">Балл:</label>
            <input type="number" maxlength="3" max="100" min="0" step="0.1" id="practiceScore" class="form-control" [(ngModel)]="studentPractice.practiceScore" name="practiceScore" />
        </div>
    </div>
    <div class="col-md-8 align-self-center mt-3">
        <button class="btn btn-outline-primary px-3 py-2 float-right" (click)="Accept()">Принять работу</button>
        <button class="btn btn-outline-primary px-3 py-2 float-right mr-3" (click)="SetdToRevision()">Отправить на доработку</button>
    </div>
</div>
<div class="row" *ngIf="studentPractice.studentPracticeFiles.length != 0">
    <div class="col-md-12">
        <label style="font-size: 1rem;">Прикрепленные работы:</label> 
    </div>
</div>
<div class="container">
    <ul>
        <li *ngFor="let file of studentPractice.studentPracticeFiles" class="pb-2">
            <a>
                {{file.fileName}}
                <app-download [fileName]="file.fileName"></app-download>
                <button *ngIf="editMode == true" class="btn btn-outline-danger ml-3" (click)="delete(file.fileName)"><i class="fas fa-trash-alt"></i> Удалить</button>
            </a>
        </li>
    </ul>
</div>
<div class="row" *ngIf="practice.practiceFiles.length != 0">
    <div class="col-md-12">
        <label style="font-size: 1rem;">Методические указани:</label>
    </div>
</div>
<div class="container">
    <ul>
        <li *ngFor="let file of practice.practiceFiles" class="pb-2">
            <a>
                {{file.fileName}}
                <app-download [fileName]="file.fileName"></app-download>
            </a>
        </li>
    </ul>
</div>

<app-comment [(StudentPracticeId)] ="this.studentPracticeId"></app-comment>

<div class="row" *ngIf="editMode == true">
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-primary px-3 py-2" (click)="save()"><i class="fa fa-paper-plane"></i> Отправить работу</button>
        </div>
    </div>
</div>
