<div class="row">
    <div class="col-md-12">
        <p-table #dt [value]="test.testQuestions"  dataKey="id" styleClass="p-datatable-customers" 
    [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[2,5,10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Показаны тестовых вопросов с {first} по {last} из {totalRecords}"
    [filterDelay]="0" [globalFilterFields]="['name','name','.name','name']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <span>{{test.name}}</span>
            <span class="float-right">Результат тестирования: {{bal | number: '1.0-1'}}%</span>
            <!-- <span>
                <button class="btn btn-md btn-outline-primary float-right ml-3"><i class="fa fa-stop"></i>  Прервать тестирование</button>
            </span> -->
        </div>
    </ng-template>
    <!-- <ng-template pTemplate="header">
        <tr>
            <th >
                <div class="p-d-flex p-jc-between p-ai-center">
                    Действия
                </div>
            </th>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Название
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Название
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Название
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Прикрепленные файлы
                </div>
            </th>
            
        </tr>
    </ng-template> -->
    <ng-template pTemplate="body" let-record let-i="rowIndex">
        <tr class="p-selectable-row">
            <!-- <td style="width: 130px">
                <div class="btn-group dropdown">
                    <button class="dropdown-toggle btn btn-sm btn-outline-primary" id="dropdownMenuButton"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Действия
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="javascript:;" class="dropdown-item" style="font-size: small;"
                            (click)="viewLecture(record.id)">Просмотр</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a href="javascript:;" 
                                class="dropdown-item" style="font-size: small;"
                                (click)="createOrEditTestModal.show(record)">Редактировать</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a class="dropdown-item" href="javascript:;" style="font-size: small;"
                            (click)="deleteTestItem(record.id)">Удалить</a>
                        </li>
                    </ul>
                </div>
            </td> -->
            <td>
                <div>
                    <b><label style="font-size: 1.2rem; margin-bottom:0;">{{i+1}}.</label><span style="font-size: 1.2rem;"> {{record.name}}</span></b>
                </div>
                <!-- <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="record.name"
                                    placeholder="Название вопроса" required> -->
                <ol style="margin: 0; padding-left:1.5rem;" type="a">
                    <li style="font-size: 1.15rem;" *ngFor="let item of record.testQuestionAnswer; let j = index">
                                <!-- <label for="Test_Name">{{i+1}}.{{j+1}}</label>
                                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="record.testQuestionAnswer[j].isCorrect"/>
                                <span> {{record.testQuestionAnswer[j].name}}</span> -->


                                <label style="margin-bottom: 0;">
                                    <input style="height: 1rem; width: 1rem; vertical-align: middle;" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="record.testQuestionAnswer[j].isCorrect"/><span style="font-size: 1.1rem;"> {{record.testQuestionAnswer[j].name}}</span>
                                </label>

                                <!-- <div class="input-group">
                                    <input class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="record.testQuestionAnswer[j].name" placeholder="Название вопроса" required>
                                    <div class="input-group-append">
                                        <input type="checkbox" style="height: 2.7em; width: 2.7em;" [ngModelOptions]="{standalone: true}" [(ngModel)]="record.testQuestionAnswer[j].isCorrect"/>
                                        
                                    </div>
                                </div> -->
                    </li>
                </ol>
            </td>
            <!-- <td>
                <button class="btn btn-sm btn-outline-primary" (click)="viewLectureeModal.show(record)"><i class="fa fa-eye"></i>Просмотр файлов</button>
            </td> -->
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5" class="text-center">Записей не найдено.</td>
        </tr>
    </ng-template>
</p-table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-4">
        <button class="btn btn-md btn-outline-primary mr-5"  (click)="goBack()"><i class="fa fa-arrow-left"></i> Назад</button>
        <button class="btn btn-md btn-outline-primary" (click)="finishTest()"><i class="fa fa-list-alt"></i>  Узнать результат теста</button>
    </div>
</div>