  
<div class="row" style="">
    <div class="col-md-12">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
      <button type="button" class="btn btn-outline-success" (click)="file.click()"><i class="fa fa-upload"></i> {{ButtonName}}</button>
    <!-- </div>
    <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div> -->
  </div>
